.wyr-block{
    padding: 20px;
}
.wyr-question{
    font-size: 30px;
}
.wyr-question input{   
    border-radius: 50px;
    font-size: 22px;
}
.wyr-answer-1 input{
    text-align: center;
    background-color: #679eea;
    padding: 20px !important;
    font-size: 24px !important;
    border-radius: 20px !important;
    color: #fff;
}
.wyr-answer-2 input{
    text-align: center;
    background-color: #E3242B;
    padding: 20px !important;
    font-size: 24px !important;
    border-radius: 20px !important;
    color: #fff;  
}
